.item{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.avatar{
margin: 0 10px 0 10px;
}

.statusOnline{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
}

.statusOffline{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}

